@model IEnumerable<Employee_EFDFA.Models.Employee>

@{
    ViewBag.Title = "Employee Directory";
}

<div class="container mt-4">

    <h2 class="text-center text-white py-2 mb-4" style="background-color: yellowgreen;">
        Employee Details
    </h2>

    <!-- SEARCH BOX -->
    <div class="row mb-4">
        <div class="col-md-6">
            <input type="text"
                   id="searchBox"
                   class="form-control"
                   placeholder="Search by name or location..." />
        </div>
    </div>

    <!-- TABLE LOAD AREA -->
    <div id="employeeTable" class="table-responsive">
        @Html.Partial("_EmployeeTable", Model)
    </div>

    <div class="text-center mt-3">
        @Html.ActionLink("Add New Employee", "AddEmployee", null,
            new { @class = "btn btn-success" })
    </div>
</div>

<!-- JQUERY + AJAX -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        let timer;

        $("#searchBox").on("keyup", function () {

            clearTimeout(timer);
            let value = $(this).val();

            timer = setTimeout(function () {
                $.ajax({
                    url: '@Url.Action("SearchEmployees", "Emp")',
                    type: 'GET',
                    data: { search: value },
                    success: function (data) {
                        $("#employeeTable").html(data);
                    }
                });
            }, 300); // debounce
        });
    });
</script>
