# default git attributes...
# ...

# Custom language detection for GitHub
*.cs       linguist-detectable=true
*.csproj   linguist-detectable=true
*.sln      linguist-detectable=true

Scripts/*        linguist-vendored
wwwroot/lib/*    linguist-vendored
